# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv/
env/
venv/

# Distribuição / Build
build/
dist/
*.egg-info/
.eggs/

# PyInstaller
*.spec

# VSCode
.vscode/

# Logs e arquivos temporários
*.log
*.tmp

# Sistema operacional
.DS_Store
Thumbs.db

# Test coverage
.coverage
htmlcov/

# Outros arquivos específicos do seu projeto podem entrar aqui
